.container-fluid
  .navbar-header
    %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#secondary-navigation' } }
      %span.sr-only= t('admin.toggle_navigation')
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand.pjax{href: dashboard_path}
      = rcell(RailsAdmin::Shared::PluginCell).plugin_full_name
      %small= rcell(RailsAdmin::Shared::PluginCell).plugin_full_name
  .collapse.navbar-collapse#secondary-navigation
    = rcell(RailsAdmin::Layouts::Navigation::SecondaryNavigationCell)[:show]
