%ul.nav.nav-pills.nav-stacked= rcell(RailsAdmin::Layouts::SidebarNavigationCell)[:main_navigation]
%ul.nav.nav-pills.nav-stacked= rcell(RailsAdmin::Layouts::SidebarNavigationCell)[:static_navigation]
