%li.dropdown{style: 'float:right'}
  %a.dropdown-toggle{href: '#', :'data-toggle' => "dropdown"}
    = title
    %b.caret
  %ul.dropdown-menu{style: 'left:auto; right:0;', id: id}
    - items.each do |item_html|
      = item_html
