%li.dropdown{ style: 'float:right' }
  %a.dropdown-toggle{ data: { toggle: 'dropdown'}, href: '#' }
    = t('admin.misc.bulk_menu_title')
    %b.caret
  %ul.dropdown-menu{ style: 'left:auto; right:0;' }
    - actions.each do |action|
      %li
        :ruby
          script = [
            "jQuery('#bulk_action').val('#{action.action_name}')",
            "jQuery('#bulk_form').submit()",
            "return false;"
          ]
        %a{onclick: script.join(';') }

